body{
    background-color: green;
}
.card{
    background-color:white;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-around;
}
.tipoCarta{
    font-size: 125px;
}
.contenedorTipoArriba{
    display: flex;
    width: 33%;
    justify-content: center;
}
#numero{
    display: flex;
    align-items: center;
    font-size:175px;
    width: 33%;
    justify-content: center;
}
.contenedorTipoAbajo{
    display: flex;
    align-items: flex-end;
    width: 33%;
    justify-content: center;
}
.alrevez{
    transform: rotate(-180deg)
}
.red{
    color:red;
}